:root {
	--bg-dark: #181818;
	--sbg-dark: #202020;
	--hbg-dark: #121212;
	--bg-white: #ffffff;
	--font-dark: #030303;
	--bg-gray: #313131;
	--sbg-gray: #e6e6e6;
	--border-gray: #373737;
	--font-white: #ffffff;
	--font-s-white: #4d4d4d;
	--font-h-gray: #aaa;
	--font-gray: #d8d8d8;
	--color-blue: #065fd4;
	--font-blue: #3ea6ff;
	--font-fp: "Roboto", "Arial", "sans-serif";
	--font-fs: "Roboto", "Noto", "sans-serif";
}

::-webkit-scrollbar {
	width: 7px;
	height: 5px;
	background-color: var(--sbg-dark) !important;
}

::-webkit-scrollbar-thumb {
	background-color: #fafafad3;
	border-radius: 20px;
}

body {
	background-color: var(--bg-dark) !important;
	color: var(--font-white) !important;
	font-family: var(--font-fp) !important;
}

.nav-body {
	background-color: var(--sbg-dark) !important;
}

.logo-button,
.logo-button:hover {
	color: var(--font-white) !important;
	background-color: var(--sbg-dark) !important;
}

.input-search-body {
	border: 1px solid var(--border-gray) !important;
	background-color: var(--hbg-dark) !important;
}
.input-search {
	background-color: var(--hbg-dark) !important;
	color: var(--font-gray) !important;
}
.input-search:focus {
	background-color: var(--hbg-dark) !important;
	color: var(--font-gray) !important;
}
.search-icon {
	color: var(--font-white) !important;
}
.searchIconId {
	border-left: none !important;
	border: 1px solid var(--border-gray) !important;
}
.search-button {
	background-color: var(--bg-gray) !important;
}

.mic-button {
	background-color: var(--hbg-dark) !important;
}
.icon-button:focus {
	background-color: var(--bg-gray) !important;
}

.icon-button:hover {
	background-color: var(--bg-gray) !important;
}
.filter-button:focus {
	background-color: var(--bg-gray) !important;
}
.filter-button {
	color: var(--font-white) !important;
}
.filter-dropdown {
	background-color: var(--sbg-dark) !important;
	color: var(--font-white) !important;
	opacity: 0.98 !important;
}
.filter-link {
	color: var(--font-white) !important;
}
.filter-link:hover {
	color: var(--font-white) !important;
	background-color: var(--border-gray) !important;
}
.filter-link:active {
	color: var(--font-white) !important;
}
.filter-link-active {
	background-color: var(--border-gray) !important;
}
.dropdown-color {
	background-color: var(--sbg-dark) !important;
	color: var(--font-white) !important;
	border-width: 0 1px !important;
	border-style: solid !important;
	border-color: var(--border-gray) !important;
	opacity: 0.98 !important;
}
.dropdown-color > a {
	color: var(--font-white) !important;
}
.dropdown-color > a:hover {
	color: var(--font-white) !important;
	background-color: var(--bg-gray) !important;
}
.dropdown-divider {
	background-color: var(--border-gray) !important;
}
.profile-header-link > a:active {
	color: var(--font-blue) !important;
}
.profile-header-link > a:hover {
	color: var(--font-blue) !important;
}
.profile-header-link > a {
	color: var(--font-blue) !important;
}
.profile-section-link-content {
	color: var(--font-white) !important;
}
.profile-section-link:hover {
	background-color: var(--bg-gray) !important;
}
.sidebar > div {
	background-color: var(--sbg-dark) !important;
}
.section-link:hover {
	background-color: var(--bg-gray) !important;
}
.section-link-content {
	color: var(--font-white) !important;
}
.section-sub-body {
	border-top: 1px solid var(--border-gray) !important;
	border-bottom: 1px solid var(--border-gray) !important;
}
.subscription-body {
	border-bottom: 1px solid var(--border-gray) !important;
}
.heading-sub {
	color: var(--font-h-gray) !important;
}
.section-two-body {
	border-bottom: 1px solid var(--border-gray) !important;
}
.section-three-body {
	border-bottom: 1px solid var(--border-gray) !important;
}
.sidebar-footer-link {
	color: var(--font-h-gray) !important;
}
.sidebar-footer-link:hover {
	color: var(--font-h-gray) !important;
}
.tag-body {
	background-color: var(--sbg-dark) !important;
	border-top: 1px solid var(--border-gray) !important;
	border-bottom: 1px solid var(--border-gray) !important;
}
.tag-item {
	background-color: var(--bg-gray) !important;
	border: 1px solid var(--border-gray) !important;
	border-radius: 30% !important;
}
.tag-link {
	color: var(--font-white) !important;
}
.tag-link:hover {
	color: var(--font-white) !important;
}
.tag-nav {
	background-color: var(--sbg-dark) !important;
	border: none !important;
}
.card-main {
	background-color: transparent !important;
	color: var(--font-white) !important;
}
.c-card-main {
	background-color: transparent !important;
	color: var(--font-white) !important;
}

.card-footer-content-desc {
	color: var(--font-h-gray) !important;
}
.card-footer-link {
	color: var(--font-h-gray) !important;
}
.card-footer-link:active {
	color: var(--font-h-gray) !important;
}
.card-footer-link:hover {
	color: var(--font-h-gray) !important;
}
.channel-name {
	color: var(--font-white) !important;
	font-size: 24px !important;
	font-family: var(--font-fp) !important;
}
.channel-sub-count {
	color: var(--font-h-gray) !important;
	font-size: 14px !important;
}
.channel-btn {
	background-color: var(--font-blue) !important;
	color: var(--font-dark) !important;
}
.sub-body-box {
	background-color: var(--hbg-dark) !important;
}
.slider-arrow-btn {
	background-color: var(--bg-dark) !important;
}
.wrapper-box-item {
	color: var(--font-h-gray) !important;
}
.wrapper-box-item:hover {
	color: var(--font-white) !important;
}

.router-channel-active {
	color: var(--font-white) !important;
	border-bottom: 3px solid var(--font-h-gray) !important;
}
.circle-loader {
	border: 2px solid var(--font-h-gray) !important;
	border-top: 2px solid var(--font-white) !important;
}
.video-page-desc {
	color: var(--font-h-gray) !important;
}
.profile-header-item:hover {
	color: var(--font-white);
}
.profile-header-item:active {
	color: var(--font-white);
}
.profile-header-item {
	color: var(--font-white);
	font-family: var(--font-fp);
}
